<template>
    <li class="todo" :class="{ 'is-complete': todo.done }">
        <input type="checkbox" :checked="todo.done" @change="toggleTodo(todo)" />
        <label v-text="todo.body" @click="editing = true"></label>
        <button @click="deleteTodo(todo)">x</button>
        <input type="text" v-model="body" @keyup.enter="editTodo" v-show="editing">
    </li>
</template>

<script>
    import { mapMutations } from 'vuex';

    export default {
        props: {
            todo: {
                type: Object
            }
        },

        data() {
           return {
               body: this.todo.body,
               editing: false
           };
        },

        methods:{
            ...mapMutations(['deleteTodo', 'toggleTodo']),

            editTodo() {
                this.todo.body = this.body;

                this.editing = false;
            }
        }
    }
</script>

<style scoped>
    .todo.is-complete {
        color: grey;
    }
</style>
